form {
    label {
        color: white;
        padding: 1em;
    }

    select {
        border: 0;
        border-radius: 0.35em;
        padding: 1em;
        margin: 1em;
        background-color: #ddddff;
        font-family: "Comic Sans MS", serif;
    }

    input {
        border: 0.1em solid #ddddff;
        border-radius: 0.35em;
        padding: 1em;
        margin: 1em;
        background-color: darkblue;
        font-family: "Comic Sans MS", serif;
    }
}