.canvas-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.canvas-container > canvas {
    max-width: 512px;
    max-height: 512px;
    align-self: center;
}

.canvas-container > textarea {
    width: 512px;
    height: 512px;
    line-height: 10px;
}

.transformations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}